# application name
spring:
  application:
    name: coffee-v2

#  ai:
#    openai:
#      api-key: ${OPENAI_API_KEY}
#      chat:
#        options:
#          model: gpt-3.5-turbo
#      base-url: https://api.openai.com/v1/chat/completions

  # maria DB
  datasource:
    url: jdbc:mariadb://localhost:3306/coffee
    username: root
    password: root1234
    driver-class-name: org.mariadb.jdbc.Driver

  # jpa
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        # 프로젝트 초기에 create 실행하고, 다음은 update로 변경하여 사용
#      ddl-auto: create
      ddl-auto: update
    show-sql: true

  # sping security password
  security:
    user:
      password: ewndks12!@

# default port
server:
  port: 2525