spring:
  application:
    name: coffee-v2
#  ai:
#    openai:
#      api-key: ${OPENAI_API_KEY}
#      chat:
#        options:
#          model: gpt-3.5-turbo
#      base-url: https://api.openai.com/v1/chat/completions

# maria DB
  datasource:
    url: jdbc:mariadb://localhost:3306/coffee
    username: root
    password: root0245
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
server:
  port: 2525